<h1><%= @article.title %></h1>

<p><%= @article.body %></p>


 <a href="<%= @article.id%>"> Hira </a> <br>
<a href="<%= article_path(@article) %>"> Ali </a> <br>
<a href="<%= article_path(@article.id) %>"> Hira </a>
