<h3>Article Info:</h3>

<p><%= @article.title %></p>
<p><%= @article.body %></p>
<%=
  link_to "Destroy", article_path(@article),
  method: :delete,
  data: { confirm: "Are you sure?" }
%>
 | <%= link_to "Edit", edit_article_path(@article) %>
<hr>

<h2> Comments </h2>
<%= render @article.comments %>
<hr>
<h2>add a comment:</h2>
<%= render 'comments/form' %>
<hr>


