<div class="container mt-5">

  <div class="d-flex justify-content-center">
    <div class="brand_logo_container">
      <h3>Forgot your password?</h3>
    </div>
  </div>

  <div class="d-flex justify-content-center form_container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control input_user", placeholder: "email"%>
      </div>

     <div class="mb-3">
        <%= f.submit "Send me reset password instructions", class: "btn btn-dark w-100" %>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
      </div>

      <div class="mt-2">
        <div>
          <%= render "devise/shared/links" %>
        <div>
      </div>
    <% end %>
  </div>
</div>
